//- index.jade
doctype
include includes/head.jade
body
  //- include includes/style_typography.jade
  include includes/header.jade
  include includes/nav.jade
  include includes/mainAdArea.jade
  .l-container
    include includes/sidebarPrime.jade
    include includes/main.jade
    include includes/sidebarSec.jade
  include includes/footer.jade
  
