// _header.scss
header {
  background-color: #fff;
}

.l-header {
  lost-center: $container;
  padding: $baseLine 0;
  &_logo {
    lost-column: 1/3;
    @include tablet {
      lost-column: 1/1;
      text-align: center;
    }
    h2 {
    font-family: $secondaryTitle;
    margin: 16px;
    // text-transform: uppercase;
    color: $secondaryDark;
    text-shadow: 1px 0px 7px $lightBg;
    letter-spacing: 2px;

    }
  }
  &_quote {
    lost-column: 1/3;
    @include tablet {
      display: none;
    }
  }
  &_social {
    lost-column: 1/3;
    text-align: right;
    padding: $baseFontSize;
    @include tablet {
      display: none;
    }
    a {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}
