//- header.jade
header
  .l-header
    .l-header_logo
      h2 Литературный журнал
    .l-header_quote
      blockquote Ты не ты, когда никогда.
    .l-header_social
      a(href="#")
        i.zmdi.zmdi-vk
      a(href="#")
        i.zmdi.zmdi-facebook
      a(href="#")
        i.zmdi.zmdi-twitter
