//- head.jade
head
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  title LitMag
  link(rel="stylesheet", href="style.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
  meta(name="viewport", content="initial-scale=1.0")
