//- main.jade
.l-main
  .l-heroUnit
    span.l-heroUnit_title Онлайн-новости
    ul.l-heroUnit_news.m-news
      li
        a.m-news_item(href="#")
          strong 14:31 
          | Умерла известная британская писательница Маргарет Форстер
      li
        a.m-news_item(href="#")
          strong 12:42 
          | На Манхеттене выставлены книги из угля и сахарного клёна
      li
        a.m-news_item(href="#")
          strong 07:33 
          | Открывается выставка изданий, иллюстрированных Энди Уорхолом
      li
        a.m-news_item(href="#")
          strong 03:57 
          | Архивные материалы "Крёстного отца" выставят на аукционе
      li
        a.m-news_item(href="#")
          strong 01:05 
          | Стало известно, когда поступит в продажу новая книга о Гарри Поттере
      li
        a.m-news_item(href="#")
          strong 00:36 
          | Заголовок последней новости
  section.l-blogPosts
    article.m-blogPost
      h4.m-blogPost_category
        a(href="#") Книги
      h2.m-blogPost_title 
        a(href="#") 10 книг, которые стали лучшими в 2015 году
      img.m-blogPost_image(src="http://lorempixel.com/215/160/abstract/4", alt="")
      p.m-blogPost_exerpt Несколько хороших книг для интересного времяпрепровождения изменят ваш внутренний мир в  
        a(href="#") далее...
      h3.m-blogPost_author
        a(href="#") Альберт Воронков
    article.m-blogPost
      
      h4.m-blogPost_category
        a(href="#") Листатель
      h2.m-blogPost_title
        a(href="#") Что почитать на этой неделе
      img.m-blogPost_image(src="http://lorempixel.com/215/160/city/3", alt="")
      p.m-blogPost_exerpt Авторы научно-популярных изданий попробовали найти аргументированные ответы на многие вопросы о здоровье. 
        a(href="#") далее...
      h3.m-blogPost_author
        a(href="#") Андрей Моссейчук
    article.m-blogPost
      
      h4.m-blogPost_category
        a(href="#") Поэмы
      h2.m-blogPost_title
        a(href="#") "Я слышу чудное..."
      img.m-blogPost_image(src="http://lorempixel.com/215/160/nature/2", alt="")
      p.m-blogPost_exerpt В рядовых событиях видит знаки и символы, которые подает ему судьба, и верит в то, что  
        a(href="#") далее...
      h3.m-blogPost_author
        a(href="#") Виктор Петров
    article.m-blogPost
      
      h4.m-blogPost_category
        a(href="#") Персоналии
      h2.m-blogPost_title
        a(href="#") Какие книги читает богатейший человек планеты
      img.m-blogPost_image(src="http://lorempixel.com/215/160/people/3", alt="")
      p.m-blogPost_exerpt В своем блоге Gates Notes Билл Гейтс поделился с читателями списком из 5 книг, которые произвели  
        a(href="#") далее...
      h3.m-blogPost_author
        a(href="#") Ольга Гаврилова
