//- nav.jade
nav
  .l-nav
    a.l-nav_button(href="#") Меню
    ul.l-nav_menu
      li.l-nav_item
        a.l-nav_link(href="#") Главная
      li.l-nav_item
        a.l-nav_link(href="#") О журнале
      li.l-nav_item
        a.l-nav_link(href="#") Редакция
      li.l-nav_item
        a.l-nav_link(href="#") Редколлегия
      li.l-nav_item
        a.l-nav_link(href="#") Подписка
      li.l-nav_item
        a.l-nav_link(href="#") Контакты
