//- sidebarPrime.jade
aside.l-sidebarPrime
  .l-sidebarPrime_banner 
    img(src="http://placehold.it/200x300", alt="")
  .l-sidebarPrime_categories
    h3.l-sidebarPrime_subtitle Рубрики
    ul.l-sidebarPrime_categoryList
      li.l-sidebarPrime_categoryItem
        a(href="#") Листатель
      li.l-sidebarPrime_categoryItem
        a(href="#") Книги
      li.l-sidebarPrime_categoryItem
        a(href="#") Персоналии
      li.l-sidebarPrime_categoryItem
        a(href="#") Поэмы
